
*
{
	margin: 0;
	padding: 0;
}	
	
	
.img1 
{
	width: 200px; 
	height: 150px; 
	float: left;
	margin-left: 20px;
}
	
body
{
	font-family: Arial,sans-serif;
	font-size: 15px;
}
	
.wrapper
{
	width: 1800px;
	margin: 0 auto;
	padding: 0 10px;
	text-align : center;
	
}
	
	ul
	{
		
		list-style: none;
	}
	
h1
	{
		font-family: 'Crete Round',serif;
		font-size: 45px;
		color: #444;
		text-align: left;
		float: right;
		margin-top: 32px;
		
	}
	

	
.horizontal
{
	margin:0.0;
	padding: 0.0px;
	margin-top: 10px;
	height: 50px;
	width: auto;
	background-color: #FF8C00;
}
	
	
.menu-head {
	display: inline-block;
	margin-top: 100px;
	text-align: center;
	
}	
	
	

	
#menu-demo2, #menu-demo2 ul{
	font-family: 'Crete Round',serif;
	font-size: 20px;
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	}
#menu-demo2 li{
	display:inline-block;
	position:relative;
	border-radius:8px 8px 0 0;
	}
#menu-demo2 ul li{
	display:inherit;
	border-radius:0;
	}
#menu-demo2 ul li:hover{
	border-radius:0;
	}
#menu-demo2 ul li:last-child{
	border-radius:0 0 8px 8px;
	}
#menu-demo2 ul{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
	}
	#menu-demo2 li:hover ul{
	max-height:15em;
	}
	/* background des liens menus */
#menu-demo2 li:first-child{
	background-color: #65537A;
	background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
	background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
	}
#menu-demo2 li:nth-child(2){
	background-color: #729EBF;
	background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
	background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
	}
#menu-demo2 li:nth-child(3){
	background-color: #F6AD1A;
	background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
	background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
	}
#menu-demo2 li:last-child{
	background-color: #CFFF6A;
	background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
	background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
	}
	/* background des liens sous menus */
#menu-demo2 li:first-child li{
	background: #DA70D6;
	}
#menu-demo2 li:nth-child(2) li{
	background:#333A40;
	}
#menu-demo2 li:nth-child(3) li{
	background:#9F391A;
	}
#menu-demo2 li:last-child li{
	background:#677F35;
	}
	/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
	background:#65537A;
	}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
	background:#729EBF;
	}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
	background:#F6AD1A;
	}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
	background:#CFFF6A;
	}
	/* les a href */
#menu-demo2 a{
	text-decoration:none;
	display:block;
	padding:8px 32px;
	color:#fff;
	font-family:arial;
	}
#menu-demo2 ul a{
	padding:8px 0;
	}
#menu-demo2 li:hover li a{
	color:#fff;
	text-transform:inherit;
	}
	#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
	color:#000;
	}
	
	
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 }
 
 
 
 
 
 legend {
 color:#DF3F3F;
 font-weight:bold
 }
 
 
 
 .menu1 
 {
 
	width: 30px; 
	height: 30px;
	
 }
 
 .menu2
 {
 
	width: 30px; 
	height: 30px;
	
 }

 .menu3
 {
 
	width: 30px; 
	height: 30px;
	
 }
.connexion {
 float: left;
 background-color:#FAFAFA;
 padding:10px;
 width:280px;
 
}
.principale {
	display: inline-block;
	margin-left: 600px;

}
h2
	{
       	
		font-family: 'Crete Round',serif;
		font-size: 35px;
		text-align : center;
		margin-top: 300px;
		
	}

#contact-form
{
	font-size: 20px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;

/*	margin-left: 200px; */
}
.form-control
{    

	height: 50px; 
	font-size: 18px;
}	
.red
{
	color: red;
}
.comments
{
	font-style: italic;
	font-size: 18px;
	color: #d82c2e;
	height: 25px;
}
#contact-form input[type=submit]/*bouton envoyer*/
{
	margin: 60px auto 10px;
	display: block;

}
.button1
{
	border: 1px solid #ddd;
	background: orange;
	color:black;
	width: 40%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px; 
	border-radius: 5px;
	transition: all 0.3s ease-in 0s;
}
.button1:hover
{
	background: #9F391A;
	border-color: #0069d6;
}
.thank-you
{
	text-align: center;
	margin-top: 15px;
	font-weight: bold;font-size: 22px;
}

.bloconnexion

{
	margin-top: 15px;
	margin-left: 400px;

}

